#brand>a{
  color:#49274a;
  font-weight: bold;
  font-size: 2.3em;
  font-family: monospace;
}

li{
  font-family: monospace;
  color: rgba(128, 128, 128, 0.76);
  font-size: large;
  font-weight: bold;
  padding-right:2px;
}

li:hover{
  color: black;
}

nav{
  margin-top: 2%;
}

#signup{
  border-radius: 19px;
  background-color: rgb(63, 204, 204);
  border: 0px;
  color: white;
}

#login{
  color: rgba(128, 128, 128, 0.76);
}

#login:hover{
  color: black;
}

#signup:hover{
  background-color: rgba(123, 216, 216, 0.671);
}




@media (max-width:320px)  { /* smartphones, portrait iPhone, portrait 480x320 phones (Android) */ 
  .row {
      display: flex;
      flex-direction: column-reverse;
  }
  #signup{
    width: 6rem;
  }
  #shorten{
      background-color: rgb(63, 204, 204);
      margin-top: 20px;
      margin-left: 2.2px;
      border:0;
      width:62vw;
      font-weight: bolder;
      font-family: monospace;
  }

  .signup__container {
    width: auto;
    height: auto;
    margin-top: 40rem;
    margin-bottom: 20%;
}
.login > .signup__container {
  height: auto;
  margin-top: 1rem;

}
.bottom small {
  margin-left: 30%;
}
}
@media (max-width:480px)  { /* smartphones, Android phones, landscape iPhone */ 
  .row {
      display: flex;
      flex-direction: column-reverse;
  }
  #signup{
    width: 6rem;
  }
  #shorten{
      background-color: rgb(63, 204, 204);
      margin-top: 20px;
      margin-left: 2.2px;
      border:0;
      width:62vw;
      font-weight: bolder;
      font-family: monospace;
  }

  .signup__container {
    width: auto;
    height: auto;
    margin-top: 40rem;
    margin-bottom: 20%;
}
.bottom small {
  margin-left: 30%;
}

.login > .signup__container {
  height: auto;
  margin-top: 3rem;

}
}
@media (max-width:600px)  { /* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */ 
  .row {
      display: flex;
      flex-direction: column-reverse;
  }
  #shorten{
      background-color: rgb(63, 204, 204);
      margin-top: 20px;
      margin-left: 2.2px;
      border:0;
      width:62vw;
      font-weight: bolder;
      font-family: monospace;
  }

  #signup{
    width: 6rem;
  }
  
  .signup__container {
    width: auto;
    height: auto;
    margin-top: 40rem;
    margin-bottom: 20%;
}

.bottom small {
  margin-left: 30%;
}

.login > .signup__container {
  height: auto;
  margin-top: 3rem;

}

.center-content {
  margin-top: 60%;
}
}


@media (max-width:320px)  {
  .signup__container {
    width: auto;
    height: auto;
    margin-top: 43rem;
    margin-bottom: 20%;
}

.bottom small {
  margin-left: 30%;
}

.login > .signup__container {
  width: auto;
  height: auto;
  margin-top: 13rem;

}
}

@media (max-width:1024px){
  .signup__container {
    height: auto;
    margin-top: 43rem;
    margin-bottom: 20%;
}

.center-content {
  margin-top: 60%;
}
.login > .signup__container {
  height: auto;
  margin-top: 18rem;

}
}